@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --finPrimary: #1C1E53;
  --white: #ffffff;
  --Btn-border: #666b78;
  --btn-bg: #FCD980;
}

.container{
  width: 100%;
}

@media screen and (min-width: 1400px) {
  .container{
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .container{
    max-width: 1140px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
  .container{
    max-width: 950px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .container{
    max-width: 730px;
    margin: 0 auto;
  }
}
/* @media screen and (min-width: 576px) and (max-width: 767px) {
  .container{
    max-width: 576px;
    margin: 0 auto;
  }
} */
